.homeContainer{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .homeTitle{
    width: 1024px;
    font-size: 20px;
  }

 

  .loadBtn {
    gap: 40px;
    padding: 10px;
    cursor: pointer;
  }

  .placeLoad:hover {
    background: palegreen;
  }